attrs
beautifulsoup4
Bottleneck
construct
cycler
docx
docx2txt
et-xmlfile
fonttools
inflection
kiwisolver
lxml
mkl-fft
mkl-random
mkl-service
numexpr
numpy
openpyxl
packaging
pandas
Pillow
pyparsing
pytesseract
python-dateutil
python-docx
python-pptx
pytz
pywin32
rarfile
regipy
six
soupsieve
XlsxWriter
